<article id="post-ak-ausweg" class="post-ak-ausweg post type-post status-publish format-standard has-post-thumbnail hentry">
  <div class="entry-content clearfix">
    <!--
      <div class="image-area">
        <span><img class="featured thumbnail full" src="assets/Foto-Chorkonzert-Startseite-820x400.jpg" alt="Klingt gut." title="Klingt gut."></span>
      </div>
    -->
    <div class="entry-text-wrap">
      <div class="entry-terms multi-color">
        <%- partial('post/category') %>
      </div>
      <%- partial('post/title', {class_name: 'article-title'}) %>
      <%- post.content %>
      <p>&nbsp;</p>
    </div>
  </div>

<!--
  <div class="entry-meta"><span class="published"><i class="icon-calendar6"></i><a href="http://www.gbg.koeln/2016/03/05/" title="Samstag, März, 2016, 7:31 pm">Mrz 05</a></span>
    <span class="author vcard"><i class="icon-user13"></i><a class="url fn n" href="http://www.gbg.koeln/author/jakobi/" title="jakobi">jakobi</a></span>
    <span class="comments-link"><i class="icon-chat4"></i>–</span>
  </div>
-->
</article>