<header id="header" class="">
    <div id="top-header-area">
        <div class="inner clearfix">
            <ul class="contact-info"></ul>
            <nav id="header-menu" class="dropdown-menu-wrap">
                <ul id="menu-header" class="menu sf-js-enabled sf-arrows">
                    <li id="menu-item-16903" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16903"><a href="http://www.gbg.koeln/newsletter/">Newsletter</a></li>
                    <li id="menu-item-14772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14772"><a href="http://www.gbg.koeln/foerderverein/">Förderverein</a></li>
                    <li id="menu-item-14558" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14558"><a href="http://www.gbg.koeln/downloads/">Downloads</a></li>
                    <li id="menu-item-12748" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12748"><a href="http://www.gbg.koeln/contact-us/">Kontakt</a></li>
                </ul>
            </nav>
            <!-- #header-menu -->
        </div>
    </div>
    <div class="inner clearfix">
        <div class="wrap">
            <div id="site-logo">
                <a href="http://www.gbg.koeln/" title="Georg-Büchner-Gymnasium" rel="home">
                    <img class="standard-logo" src="/assets/15_02_12_anpassung_2.png" alt="Georg-Büchner-Gymnasium">
                </a>
            </div>
            <nav id="primary-menu" class="dropdown-menu-wrap clearfix">
                <ul id="menu-hauptmenue-1" class="menu clearfix">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12965"><a href="http://www.gbg.koeln/">GBG.koeln</a></li>

                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">AK-Ausweg</a>

                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#">Schüler</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/schueler/essstoerungen">Essstörungen</a></li>
                        </ul>
                    </li>

                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#">Eltern/Lehrer</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/eltern-lehrer/essstoerungen">Essstörungen</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- #primary-menu -->

        </div>
    </div>
</header>