<div class="sidebar-right-nav threecol last">
    <div id="sidebar-primary" class="sidebar clearfix fullwidth">

        <aside id="archives-2" class="widget widget_archive widget-widget_archive">
            <div class="widget-wrap widget-inside">
                <h3 class="widget-title">Navigation</h3>
                <ul>
                    <li><a href="/">Start</a></li>
                    <li><a href="/ueber-uns">Über uns</a></li>
                </ul>
            </div>
        </aside>

        <aside id="tribe-events-adv-list-widget-9" class="widget tribe-events-adv-list-widget widget-tribe-events-adv-list-widget">
            <div class="widget-wrap widget-inside">
                <h3 class="widget-title"><span>Anstehende Veranstaltungen</span></h3>
                <!-- Event  -->

                <!--

                <div class="type-tribe_events tribe-clearfix tribe-events-category-eltern tribe-events-category-lehrer tribe-events-category-blaeserklasse tribe-events-category-schueler">
                    <div class="tribe-mini-calendar-event">
                        <div class="list-date">
                            <span class="list-dayname">Do</span>
                            <span class="list-daynumber">04</span>
                        </div>

                        <div class="list-info">
                            <h2 class="tribe-events-title">
                                <a href="http://www.gbg.koeln/termine/bk-fruehjahrskonzert-forum/" rel="bookmark">BK Frühjahrskonzert (Forum)</a>
                            </h2>

                            <div class="tribe-events-duration">
                                <span class="tribe-event-date-start">4. Mai  – 17:30</span> - <span class="tribe-event-time">20:00</span>
                            </div>
                        </div>
                    </div>
                </div>

                -->

                <p class="tribe-events-widget-link">
                    <a href="http://www.gbg.koeln/termine/kategorie/besondere/" rel="bookmark">Mehr anzeigen …</a>
                </p>

            </div>
        </aside>
    </div>
</div>