<!DOCTYPE html>
<html lang="de-DE" class="skrollr skrollr-desktop">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title><%- page.title %> | Arbeitskreis Ausweg - Georg-Büchner-Gymnasium</title>

	<script type="text/javascript">var mo_options = mo_options || {};mo_options.disable_back_to_top = false;mo_options.sticky_menu = true;mo_options.theme_skin = "#2a9dd6";mo_options.theme_directory_url = "http://www.gbg.koeln/wp-content/themes/invent";mo_options.slider_chosen="None";mo_options.disable_smooth_page_load=false;mo_options.disable_animations_on_page=false;mo_options.disable_smooth_scroll=false;</script>

	<link rel="stylesheet" id="validate-engine-css-css" href="/assets/validationEngine.jquery.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe_events-widget-calendar-pro-style-css" href="/assets/widget-calendar-full.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe_events--widget-calendar-pro-override-style-css" href="/assets/widget-calendar-full.css" type="text/css" media="all">
	<link rel="stylesheet" id="contact-form-7-css" href="/assets/styles.css" type="text/css" media="all">
	<link rel="stylesheet" id="rs-plugin-settings-css" href="/assets/settings.css" type="text/css" media="all">
	<style id="rs-plugin-settings-inline-css" type="text/css">
		.tp-caption a {
			color: #ff7302;
			text-shadow: none;
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			-ms-transition: all 0.2s ease-out
		}
		
		.tp-caption a:hover {
			color: #ffa902
		}
	</style>
	<link rel="stylesheet" id="tribe-events-calendar-pro-style-css" href="/assets/tribe-events-pro-full.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe-events-calendar-pro-mobile-style-css" href="/assets/tribe-events-pro-full-mobile.min.css" type="text/css" media="only screen and (max-width: 768px)">
	<link rel="stylesheet" id="pretty-photo-css" href="/assets/prettyPhoto.css" type="text/css" media="screen">
	<link rel="stylesheet" id="icon-fonts-css" href="/assets/icon-fonts.css" type="text/css" media="screen">
	<link rel="stylesheet" id="style-theme-css" href="/assets/style.css" type="text/css" media="all">
	<link rel="stylesheet" id="animate-css" href="/assets/animate.css" type="text/css" media="screen">
	<link rel="stylesheet" id="style-plugins-css" href="/assets/plugins.css" type="text/css" media="all">
	<link rel="stylesheet" id="style-skin-php-css" href="/assets/skin.php.css" type="text/css" media="all">
	<link rel="stylesheet" id="style-custom-css" href="/assets/custom.css" type="text/css" media="all">
	<link rel="stylesheet" id="sccss_style-css" href="/assets/saved_resource.css" type="text/css" media="all">
	<script type="text/javascript" src="/assets/jquery.js"></script>
	<script type="text/javascript" src="/assets/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
<!--
    <style type="text/css">

    h1,h2,h3,h4,h5,h6, .slogan1, #slider-area .flex-caption a, ul.tab-list li a, ul.member-list li a, .number-stats .number-stat .number, #mobile-menu .menu-header, .heading2 .subtitle span, .video-section .video-header .header-content .text, .ytp-video-section .video-header .header-content .text, .single .number-stats .number-stat .number, #content .marketing-banner ol.simple-list a, #content .marketing-banner ol.events-list a, .course-details .header, .staff-details .header, .department-details .header, .department-details .contact-person .name, .post-snippets .hentry .entry-title, .post-snippets .type-course .img-wrap .type-info .post-title, .post-snippets .type-news .img-wrap .type-info .post-title, .post-snippets .type-staff .img-wrap .type-info .post-title, .post-snippets .type-department .img-wrap .type-info .post-title, .single-event .heading-title, .single-location .heading-title, .css-events-list .events-table td a, table.em-calendar thead .month_name, .tribe-events-venue-widget .tribe-venue-widget-venue .tribe-venue-widget-venue-name a, .tribe-events-countdown-widget div.tribe-countdown-text, .tribe-events-countdown-widget .tribe-countdown-number, .heading2 .title, .number-stats .number-stat .stats-title, .image-info .post-title, ul.post-list .entry-title a, #learndash_next_prev_link, #learndash_back_to_lesson {font-family:"Lato";}
    #learndash_lessons, #learndash_quizzes, .expand_collapse, .notavailable_message, #learndash_lesson_topics_list div > strong, #learndash_lesson_topics_list div ul > li .sn, .learndash_profile_heading, #learndash_profile a, #learndash_profile div {font-family:"Lato" !important;}
    h1,h2,h3,h4,h5,h6, .slogan1, .heading2 .title {letter-spacing:0px;}
    body, button, .button, input[type=button], input[type="submit"], input[type="reset"], .timeline-footer .event-date, .timeline-footer .event-category, .subtitle, .client-testimonials2 .header cite, .page-links a, .page-links a:visited, .pagination a, .pagination a:visited, .pagination span.current, .post-snippets .type-course .course-id, .course-details .course-information .label, .dropdown-menu-wrap ul li a, blockquote .author, blockquote em, blockquote i, blockquote cite, #top-header-area ul.contact-info li, #top-header-area ul.contact-info li a, .comment-reply-link, .comment-edit-link, .comment-reply-link:visited, .comment-edit-link:visited, #course_navigation .learndash_nevigation_lesson_topics_list .lesson a, .widget_course_return, #course_navigation .widget_course_return a, #course_navigation .learndash_topic_widget_list a > span, #course_navigation .learndash_nevigation_lesson_topics_list .lesson, .widget_ldcourseinfo #ld_course_info #course_progress_details > strong, .widget_course_return, #course_navigation .widget_course_return a, .wpProQuiz_forms table td label, .wpProQuiz_maxtrixSortText, .wpProQuiz_sortable, .wpProQuiz_sortStringItem {font-family:"Georgia";}
    #learndash_lessons a, #learndash_quizzes a, .expand_collapse a, .learndash_topic_dots a, .learndash_topic_dots a > span, #learndash_lesson_topics_list span a, #learndash_profile a, #learndash_profile a span, .wpProQuiz_questionListItem input[type="radio"], .wpProQuiz_questionListItem input[type="checkbox"], .wpProQuiz_questionListItem span {font-family:"Georgia" !important;}
    cite, em, i, #author-widget .author-name, blockquote, .pullquote, .rss-block, ul.post-list .published, ul.post-list .byline, ul.post-list .entry-meta, .entry-meta span, .entry-meta span a, .comment-author cite, .comment-byline, #services-icon-list .sub, .post-snippets .byline {font-family:"Georgia";}
    #primary-menu ul.menu > li.sfHover > a, #primary-menu > ul.menu > li > a:hover { color:#2a9dd6 !important; }
    .dropdown-menu-wrap ul.sub-menu li:hover, .dropdown-menu-wrap ul.sub-menu li.sfHover { background-color: #008ed6}
    #pricing-action .pointing-arrow img { opacity: 0 }
    #primary-menu > ul > li:nth-last-child(-n+3) {display:none;}
    </style>
-->

    <style type="text/css">
    @import url("//fonts.googleapis.com/css?family=Lato");
    
    #title-area  {
    background-color:#76b42d;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    background-size: cover;
    background-image:url(/assets/logo.png);
    border: none;
    box-shadow: none;
    padding: 171px 0 171px 0;
    }
    @media only screen and (max-width: 1024px) {
    #title-area {padding: 150px 0 150px !important; } }
    @media only screen and (max-width: 767px) {
    #title-area {padding: 100px 0 100px !important; } }
    </style>
	<meta name="generator" content="manually refactored and copied from http://gbg.koeln">
</head>

<body class="single single-post single-format-standard tribe-js tribe-bar-is-disabled layout-2c-l layout-2c" style="width: auto;">

	<div id="container">
		<div class="sticky-wrapper" style="height: 129px;">
			<%- partial('_partial/header') %>
		</div>
		<!-- #header -->

        <div class="dim-wrap">
            <header id="title-area" class="clearfix skrollable skrollable-before" style="opacity:1;background-position: center center;background-size: contain;">
                <div class="inner" style="left: -1000px;position: fixed;">
                    <h1 class="page-title entry-title skrollable skrollable-between" data-0="opacity:1;" data-top-bottom="opacity: 0;" style="opacity: 1;">Arbeitskreis Ausweg</h1>
                    <div class="post-description">
                        <p data-0="opacity:1;" data-top-bottom="opacity: 0;" class="skrollable skrollable-between" style="opacity: 1;">
                        <strong>aus Sucht, aus Gewalt, aus Mobbing</strong>
                        </p>
                    </div>
                </div>
            </header>
        </div>
<!--
		<div class="dim-wrap">
			<header id="title-area" class="clearfix skrollable skrollable-before" data-top="opacity:1;background-position: 0px 0px;"
			 data-top-bottom="opacity: 0.6;background-position:0px -250px;" style="opacity: 1; background-position: 0px 0px;">
				<div class="inner">
					<h2 class="tagline skrollable skrollable-between" data-0="opacity:1;" data-top-bottom="opacity: 0;" style="opacity: 1;">Arbeitskreis Ausweg</h2>
				</div>
			</header>
		</div>
-->
		<!-- title-area -->
		<div id="main" class="clearfix">


			<div class="inner clearfix">
				<div id="breadcrumbs"><a href="http://www.gbg.koeln/">Home</a><span class="sep"> / </span><a href="http://ak-ausweg.zwonull.net/">Arbeitskreis Ausweg</a> <span class="sep"> / </span> Willkommen</div>
				<!-- #breadcrumbs -->

				<div id="content" class="ninecol ">
					<div class="hfeed">
            			<%- body %>
						<!-- .hentry -->
					</div>
					<!-- .hfeed -->
					<!-- .loop-nav -->
				</div>
				<!-- #content -->

				<%- partial('_partial/sidebar') %>
				<!-- end sidebar-nav -->

			</div>
			<!-- #main .inner -->


		</div>
		<!-- #main -->


		<footer id="footer-bottom">

			<div class="inner">


				<nav id="menu-footer" class="single-depth-menu">

					<div class="menu">
						<ul id="menu-footer-items" class="">
							<li id="menu-item-12458" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12458"><a href="http://www.gbg.koeln/?page_id=12794">Impressum</a></li>
							<li id="menu-item-12500" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12500"><a href="http://www.gbg.koeln/?page_id=12803">Datenschutz</a></li>
							<li id="menu-item-12501" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12501"><a href="http://www.gbg.koeln/?page_id=480">Kontakt</a></li>
							<li id="menu-item-12502" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12502"><a href="http://www.gbg.koeln/?page_id=565">Sitemap</a></li>
						</ul>
					</div>
				</nav>
				<!-- #menu-footer -->


				<div id="footer-bottom-text">Copyright 2017 © <a class="site-link" href="http://www.gbg.koeln/" titel="Georg-Büchner-Gymnasium" rel="Startseite" alt="alt"><span>Georg-Büchner-Gymnasium</span></a>.
					Design by <a href="http://www.vierviertel.com/" titel="vierviertel Werbeagentur Köln" target="_blank">vierviertel Werbeagentur Köln</a>.</div>
			</div>

		</footer>
		<!-- #footer-bottom -->

	</div>
	<!-- #container -->


	<script>
		(function (body) {
			'use strict';
			body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
		})(document.body);
	</script>

	<script type="text/javascript" src="/assets/jquery.form.min.js"></script>
	<script type="text/javascript" src="/assets/scripts.js"></script>
	<script type="text/javascript" src="/assets/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/assets/drop-downs.js"></script>
	<script type="text/javascript" src="/assets/waypoints.js"></script>
	<script type="text/javascript" src="/assets/jquery.plugins.lib.js"></script>
	<script type="text/javascript" src="/assets/skrollr.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.mb.YTPlayer.js"></script>
	<script type="text/javascript" src="/assets/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/assets/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="/assets/isotope.js"></script>
	<script type="text/javascript" src="/assets/sscr.min.js"></script>
	<script type="text/javascript" src="/assets/slider.js"></script>
	<script type="text/javascript" src="/assets/main.js"></script>
	<script type="text/javascript" src="/assets/waypoints.sticky.min.js"></script>

	<script type="text/css" id="tmpl-tribe_customizer_css">
		.tribe-events-list .tribe-events-loop .tribe-event-featured, .tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
		.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap, .type-tribe_events.tribe-events-photo-event.tribe-event-featured
		.tribe-events-photo-event-wrap:hover { background-color: #0ea0d7; } #tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured
		{ background-color: #0ea0d7; } .tribe-events-list-widget .tribe-event-featured, .tribe-events-venue-widget .tribe-event-featured,
		.tribe-mini-calendar-list-wrapper .tribe-event-featured, .tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event
		{ background-color: #0ea0d7; } .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single { background-color:
		rgba(14,160,215, .7 ); border-color: #0ea0d7; } .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover
		{ background-color: #0ea0d7; }
	</script>
-->
	<style type="text/css" id="tribe_customizer_css">
		.tribe-events-list .tribe-events-loop .tribe-event-featured,
		.tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
		.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap,
		.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {
			background-color: #0ea0d7;
		}
		
		#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
			background-color: #0ea0d7;
		}
		
		.tribe-events-list-widget .tribe-event-featured,
		.tribe-events-venue-widget .tribe-event-featured,
		.tribe-mini-calendar-list-wrapper .tribe-event-featured,
		.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {
			background-color: #0ea0d7;
		}
		
		.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
			background-color: rgba(14, 160, 215, .7);
			border-color: #0ea0d7;
		}
		
		.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {
			background-color: #0ea0d7;
		}
	</style>

</body>

</html>